<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Portfólio: Sobre</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <a class="header-title" href="/views/page/home.html">
            <h1>brunoreis.dev</h1>
        </a>
        <nav class="navbar">
            <ul>
                <li><a href="/views/page/home.html">Home</a></li>
                <li><a href="/views/page/sobre.html">Sobre</a></li>
                <li><a href="/views/page/habilidades.html">Habilidades</a></li>
                <li><a href="/views/page/contato.html">Contatos</a></li>
            </ul>
        </nav>
    </section>
    <!-- End Header -->

    <!-- Skills -->
    <section id="skills">
        <div class="skills-content">
            <h1>Outras Habilidades</h1>
            <h2>Como desenvolvedor Full Stack, estou equipado com um conjunto diversificado <br>
                de habilidades técnicas. Dominando áreas essenciais como HTML, CSS, JavaScript, <br>
                React.js e Node.js, tenho a capacidade de criar soluções robustas tanto no front-end <br>
                quanto no back-end. Estou comprometido em oferecer resultados excepcionais, <br>
                combinando criatividade e experiência técnica para atender às demandas do projeto.<br>
                 Vamos colaborar e transformar ideias em realidade!</h2>
            <div class="table-container">
                
                <table class="background-skills">
                    <tr class="stacks-skills">
                        <th>
                            <img src="/public/svg/java.svg" alt="icon-java">
                        </th>
    
                        <th>
                            <img src="/public/svg/c++.svg" alt="icon-c++">
                        </th>
    
                        <th>
                            <img src="/public/svg/python.svg" alt="icon-python">
                        </th>
    
                        <th>
                            <img src="/public/svg/mysql-logo.svg" alt="icon-mysql">
                        </th>
    
                        <th>
                            <img src="/public/svg/aws-dynamodb.svg" alt="icon-dynamodb">
                        </th>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>C++</td>
                        <td>Python</td>
                        <td>MySQL</td>
                        <td>DynamoDB</td>
                    </tr>
                </table>
                
                <table class="background-skills">
                    <tr class="stacks-skills">
                        <th>
                            <img src="/public/svg/css.svg" alt="icon-css">
                        </th>
    
                        <th>
                            <img src="/public/svg/html.svg" alt="icon-html">
                        </th>
    
                        <th>
                            <img src="/public/svg/js.svg" alt="icon-svg">
                        </th>
    
                        <th>
                            <img src="/public/svg/node.svg" alt="icon-node">
                        </th>
    
                        <th>
                            <img src="/public/svg/react.svg" alt="icon-react">
                        </th>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>HTML</td>
                        <td>JavaScript</td>
                        <td>Node.Js</td>
                        <td>React</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- End Skills -->

    <!-- Footer -->
    <section id="footer">
        <div class="container-footer">
            <h2>Bruno Reis © 2024</h2>
        </div>
    </section>
    <!-- End Footer -->
</body>

</html>