<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Portfólio: Sobre</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <a class="header-title" href="/views/page/home.html">
            <h1>brunoreis.dev</h1>
        </a>
        <nav class="navbar">
            <ul>
                <li><a href="/views/page/home.html">Home</a></li>
                <li><a href="/views/page/sobre.html">Sobre</a></li>
                <li><a href="/views/page/habilidades.html">Habilidades</a></li>
                <li><a href="/views/page/contato.html">Contatos</a></li>
            </ul>
        </nav>
    </section>
    <!-- End Header -->

    <!-- About -->
    <section id="about">
        <div class="background-about">
            <div class="img-wrapper">
                <img src="/public/img/image_about.jpg" alt="image-notebook">
            </div>
        </div>

        <div class="box-about">
            <div class="section-subtitle">
                <h2>Olá, sou Bruno Reis</h2> <br>
                <h2>Desenvolvedor Full Stack 💻❤️</h2> <br>
            </div>
            <h3>
                Como Desenvolvedor Full Stack, tenho experiência em HTML, CSS, JavaScript, React.js e Node.js.
                Gosto de criar interfaces intuitivas e sistemas robustos que fazem a diferença na web.
            </h3>
            <h3>
                Com habilidades tanto no front-end quanto no back-end, estou sempre em busca de aprendizado e aprimoramento.
                Meu objetivo é transformar ideias em realidade, oferecendo soluções que superam as expectativas dos clientes.
            </h3>
            <div class="button-cta">
                <button><a href="/views/page/habilidades.html">Saiba Mais!</a></button>
            </div>
        </div>
    </section>
    <!-- End About -->

    <!-- Footer -->
    <section id="footer">
        <div class="container-footer">
            <h2>Bruno Reis © 2024</h2>
        </div>
    </section>
    <!-- End Footer -->
</body>

</html>
